version: "3"
services:
  nats-streaming:
    image: nats-streaming:latest
    ports:
      - "4222:4222"
      - "8222:8222"
    networks:
      - backend

#  nats-streaming-ui:
#    build: .
#    ports:
#      - "8282:8282"
#    networks:
#      - backend

networks:
  backend:
